/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: Druk;
  src: url(fonts/Druk.otf);
}

html {
  min-height: 100vh;
  /* cursor: url(svg/sloth-cursor-01.svg), auto; */
}

body {
  font-family: Helvetica, sans-serif;
  color: rgb(107, 112, 121);
}

.nav-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav'
    'box1 box2'
    'box3 box4';
  justify-content: center;
}

/* .home-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    'nav nav nav'
    'design photo painting';
  justify-content: center;
} */

.box {
  display: flex;
  border-top: 1px solid rgb(107, 112, 121);
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-image: url('http://placekitten.com/800/300');
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

a {
  text-decoration: none;
  color: rgb(107, 112, 121);
}

.box1 {
  grid-area: box1;
  border-right: 1px solid rgb(107, 112, 121);
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
  border-right: 1px solid rgb(107, 112, 121);
}

.box4 {
  grid-area: box4;
}
