/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: Druk;
  src: url(fonts/Druk.otf);
}

html {
  min-height: 100vh;
  /* cursor: url(svg/sloth-cursor-01.svg), auto; */
}

body {
  font-family: Helvetica, sans-serif;
  color: rgb(107, 112, 121);
}

.nav-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav'
    'box1 box2'
    'box3 .';
  justify-content: center;
}

/* .home-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    'nav nav nav'
    'design photo painting';
  justify-content: center;
} */

.box {
  display: flex;
  border-top: 1px solid rgb(107, 112, 121);
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-image: url('http://placekitten.com/800/300');
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

a {
  text-decoration: none;
  color: rgb(107, 112, 121);
}

.box1 {
  grid-area: box1;
  border-right: 1px solid rgb(107, 112, 121);
}

.box2 {
  grid-area: box2;
  border-bottom: 1px solid rgb(107, 112, 121);
}

.box3 {
  grid-area: box3;
  border-right: 1px solid rgb(107, 112, 121);
}

.clock {
  position: absolute;
  bottom: 5vh;
  right: 15vw;
  border-top: 1px solid rgb(107, 112, 121);
  display: flex;
  align-items: center;
  grid-area: clock;

  border-radius: 100%;
  background: cornsilk;
  border: 1px solid grey;
}

.wrap {
  overflow: hidden;
  position: relative;
  /* width: 350px;
  height: 350px; */
  width: 34vh;
  height: 34vh;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 75px;
  width: 2px;
  margin: auto;
  top: -34%;
  left: 0;
  bottom: 0;
  right: 0;
  background: grey;
  transform-origin: bottom center;
  transform: rotate(0deg);
  z-index: 1;
}

.minute {
  position: absolute;
  height: 100px;
  top: -45%;
  left: 0;
  transform: rotate(90deg);
}

.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -40%;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid grey;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
