/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: Druk;
  src: url(fonts/Druk.otf);
}

html {
  min-height: 100vh;
  /* cursor: url(svg/sloth-cursor-01.svg), auto; */
}

body {
  font-family: Helvetica, sans-serif;
  color: rgb(107, 112, 121);
}

.nav-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav'
    'design photo'
    'painting painting';
  /* grid-gap: 20px; */
  justify-content: center;
}

.section {
  display: flex;
  border-top: 1px solid rgb(107, 112, 121);
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.section:hover {
  background-image: url('http://placekitten.com/800/300');
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.design {
  grid-area: design;
  border-right: 1px solid rgb(107, 112, 121);
}

.photo {
  grid-area: photo;
}

.painting {
  grid-area: painting;
}
