/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: Druk;
  src: url(fonts/Druk.otf);
}

html {
  min-height: 100vh;
  /* cursor: url(svg/sloth-cursor-01.svg), auto; */
}

.nav-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav'
    'design photo'
    'painting painting';
  /* grid-gap: 20px; */
  justify-content: center;
}

.section {
  border: 1px solid grey;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
}

.design {
  grid-area: design;
}
.photo {
  grid-area: photo;
}
.painting {
  grid-area: painting;
}
