.about-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 8.5vh 45.75vh 45.75vh;
  grid-template-areas:
    'nav nav'
    'who what'
    'who clock';
}

.abe {
  opacity: 0;
  height: 100%;
  width: auto;
  @media only screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    opacity: 1;
  }
}

.about-photo {
  grid-area: who;
  overflow: hidden;
  &:hover {
    .abe {
      opacity: 1;
    }
  }
}

.about-text {
  grid-area: what;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  border-top: $grey-border;
  padding: 11%;
  p {
    line-height: 1.2em;
    margin-bottom: 2em;
  }
}

// .me {
//   margin-bottom: 30px;
// }

@media only screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas:
      'nav'
      'who'
      'what';
  }
}
//   // .clock-container,
//   // .clock,
//   // .wrap
//   //   visibility: hidden;
//   //
// }
