.about-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 6vh 47vh 47vh;
  grid-template-areas:
    'nav nav'
    'who what'
    'who clock';
}

.abe {
  opacity: 0;
  min-height: 100%;
  height: auto;
  width: auto;
  @media only screen and (max-width: 1068px) {
    opacity: 1;
  }
}

.about-photo {
  grid-area: who;
  overflow: hidden;
  &:hover {
    .abe {
      opacity: 1;
    }
  }
}

.about-text {
  grid-area: what;
  display: flex;
  flex-direction: column;

  border-top: $grey-border;
  padding: 11% 20% 11% 11%;
  p {
    line-height: 1.4em;
    margin-bottom: 2em;
  }
  @media only screen and (max-width: 768px) {
    p {
      margin-bottom: 1.75em;
    }
    padding: 10% 20% 0px 10%;
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas:
      'nav'
      'who'
      'what';
  }
}

.clock-container {
  grid-area: clock;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
