@import 'variables', 'mixins';

.clock-container {
  @include flexCenter();
  border-top: $grey-border;
}

.clock {
  display: flex;
  align-items: center;
  grid-area: clock;
  border-radius: 100%;
  background: #fff;
  border: $grey-border;
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  width: 34vh;
  height: 34vh;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 27%;
  width: 2px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: $grey;
  transform-origin: bottom center;
  transform: rotate(0deg);
  z-index: 1;
}

.minute {
  position: absolute;
  height: 40%;
  top: -40%;
  left: 0;
  transform: rotate(90deg);
}

.second {
  position: absolute;
  height: 42.5%;
  width: 1px;
  margin: auto;
  top: -42%;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
  -webkit-animation: rotate-second 60s linear infinite;
  -moz-animation: rotate-second 60s linear infinite;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: #fff;
  border: $grey-border;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
