@import 'variables', 'mixins';
// !!!!!!!!! Hover Image Preload !!!!!!!!!! //

div#preload {
  display: none;
}

// !!!!!!!!! Design Project Grid !!!!!!!!!! //

.design-container {
  display: grid;
  grid-template-columns: repeat(4, calc(100vw / 4));
  grid-template-rows: 8.5vh 45.75vh 45.75vh;
  grid-template-areas:
    'nav nav nav nav'
    'shortstop siff verde tsa'
    'nb sloth motif island';
  justify-content: center;
  @media only screen and (max-width: 1068px) {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh repeat(4, 25vh);
    grid-template-areas:
      'nav nav'
      'shortstop siff'
      'verde tsa'
      'nb sloth'
      'motif island';
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh repeat(8, 30vh);
    grid-template-areas:
      'nav'
      'shortstop'
      'siff'
      'verde'
      'tsa'
      'nb'
      'sloth'
      'motif'
      'island';
  }
}

// !!!!!!!!! Design Projects !!!!!!!!!! //

.shortstop {
  grid-area: shortstop;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/shortstop/shortstop-hover.gif');
    }
  }
}

.sloth {
  grid-area: sloth;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/sloth/sloth-hover.svg');
    }
  }
}

.island {
  grid-area: island;
  border-right: none !important;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/island/island-hover.jpg');
    }
  }
}

.verde {
  grid-area: verde;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/verde/verde-hover.jpg');
    }
  }
}

.nb {
  grid-area: nb;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/nb/nb-hover.jpg');
    }
  }
}

.siff {
  grid-area: siff;
  border-right: none;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/siff/siff-hover.jpg');
    }
  }
}

.tsa {
  grid-area: tsa;
  border-right: none !important;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/tsa/tsa-hover.jpg');
    }
  }
}

.motif {
  grid-area: motif;
  border-right: none;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/design/motif/motif-hover.jpg');
    }
  }
}
