// !!!!!!!!! Hidden Button Areas !!!!!!!!!! //

.big-button {
  z-index: 100;
  position: absolute;
  top: 15vh;
  height: 75vh;
  width: 30vw;
  &:hover {
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.next-big-button {
  right: 0;
}

.previous-big-button {
  left: 0;
}

// !!!!!!!!! Prev + Next Buttons !!!!!!!!!! //

.flickity-prev-next-button {
  z-index: 500;
  width: 50px !important;
  height: 50px !important;
  background: transparent !important;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.flickity-prev-next-button .arrow {
  fill: #11a748;
}

.flickity-prev-next-button:hover {
  /* fill: black; */
  opacity: 0.25;
}

// !!!!!!!!! Carousel !!!!!!!!!! //

.carousel-container {
  margin-top: 7vh;
}

.carousel-cell {
  width: 100%;
  height: 75vh;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}

.carousel-cell-image.image-border {
  border: 2px solid rgb(215, 215, 215);
  @media screen and (max-width: 768px) {
    border: 1px solid rgb(215, 215, 215);
  }
}
