@import 'variables';

// !!!!!!!!! Nav Container !!!!!!!!!! //

.nav-container {
  grid-area: nav;
  @include flexCenter();
  justify-content: space-between;
  margin: 0px 20px;
  @media only screen and (max-width: 768px) {
    line-height: 1em;
    // position: fixed;
  }
}

// !!!!!!!!! Aaron Eidman !!!!!!!!!! //

.logo {
  &:hover {
    @include opacity();
  }
  @media only screen and (max-width: 768px) {
    line-height: 1em;
  }
}

// !!!!!!!!! About/Bonsai !!!!!!!!!! //

.about {
  z-index: 2000;
}

.bonsai {
  width: 22%;
  margin-left: 20%;
  margin-top: 5%;
  &:hover {
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }

  // !!!!!!!!! Bonsai Animation !!!!!!!!!! //

  @-moz-keyframes spinPulse {
    0% {
      -moz-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
    }
    50% {
      -moz-transform: rotate(145deg);
      opacity: 1;
    }
    100% {
      -moz-transform: rotate(-320deg);
      opacity: 0;
    }
  }
  @-moz-keyframes spinoffPulse {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spinPulse {
    0% {
      -webkit-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
    }
    50% {
      -webkit-transform: rotate(145deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-320deg);
      opacity: 0;
    }
  }
  @-webkit-keyframes spinoffPulse {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotatecircle {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes rotatecircle {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }
}

// !!!!!!!!! Nav Menu Show/Hide !!!!!!!!!! //
.nav-menu-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: $grey;
  opacity: 0;
}

.nav-menu-container.show {
  opacity: 1;
  z-index: 1000;
  position: fixed;
  overflow-y: hidden;
}

.hamburger {
  z-index: 2000;
  margin-top: 0.5% !important;
  @media only screen and (max-width: 768px) {
    position: absolute;
    right: 15px;
    position: fixed;
  }
}

// !!!!!!!!! Nav Menu Grid !!!!!!!!!! //

.nav-menu-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 8.5vh 91.5vh;
  grid-template-areas:
    '. . .'
    'menu-design menu-photo menu-painting';
  @media only screen and (max-width: 768px) {
    grid-template-columns: 100vw;
    grid-template-rows: 10vh repeat(4, 22.5vh);
    grid-template-areas:
      'nav'
      'menu-design'
      'menu-photo'
      'menu-painting'
      'menu-about';
  }
}

.menu-box {
  @include flexCenter();
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  p {
    color: #fff;
  }
  &:hover {
    p {
      border: 2px solid #fff;
      padding: 0.9em 1.2em;
    }
  }
  @media only screen and (max-width: 768px) {
    &:hover {
      p {
        border: none;
      }
    }
    border-right: none;
  }
}
.menu-about {
  grid-area: menu-about;
}

.menu-design {
  grid-area: menu-design;
}

.menu-photo {
  grid-area: menu-photo;
}

.menu-painting {
  grid-area: menu-painting;
  border-right: none;
}

button {
  outline: 0 none;
}
