@import 'variables';

// !!!!!!!!! Nav Container !!!!!!!!!! //

.nav-container {
  @include flexCenter();
  justify-content: space-between;
  margin: 0px 2vh;

  @media only screen and (max-width: 868px) {
    margin: 0px 10%;
  }
}

// !!!!!!!!! Aaron Eidman !!!!!!!!!! //

.logo {
  @media only screen and (min-width: 1069px) {
    // position: fixed;
    top: 2.8%;
    left: 10%;
    &:hover {
      @include opacity();
    }
  }
}

// !!!!!!!!! About/Bonsai !!!!!!!!!! //

.about {
  z-index: 2000;
  margin: 0 auto;
  @include flexCenter();
}

.bonsai {
  position: absolute;
  right: 1.5vh;
  height: 4.5vh;
  width: auto;
  margin-top: 0.25vh;
  &:hover {
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
  }
  @media only screen and (max-width: 1068px) {
    height: 3%;
    // margin-top: 0.5vh;
  }
  @media only screen and (max-width: 1023px) {
    display: none;
  }

  // !!!!!!!!! Bonsai Animation !!!!!!!!!! //

  @-moz-keyframes spinPulse {
    0% {
      -moz-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
    }
    50% {
      -moz-transform: rotate(145deg);
      opacity: 1;
    }
    100% {
      -moz-transform: rotate(-320deg);
      opacity: 0;
    }
  }
  @-moz-keyframes spinoffPulse {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spinPulse {
    0% {
      -webkit-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
    }
    50% {
      -webkit-transform: rotate(145deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-320deg);
      opacity: 0;
    }
  }
  @-webkit-keyframes spinoffPulse {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotatecircle {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes rotatecircle {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }
}
