@import 'variables', 'mixins';

// !!!!!!!!! Painting Grid !!!!!!!!!! //

.painting-container {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw / 2));
  grid-template-rows: 8.5vh 91.5vh;
  grid-template-areas:
    'nav nav'
    'recent old';
  justify-content: center;
}
.painting-old {
  grid-area: old;
  &:hover {
    background-image: url('../assets/painting/older-hover.jpg');
  }
  border-right: none !important;
}

.painting-recent {
  grid-area: recent;
  &:hover {
    background-image: url('../assets/painting/recent-hover.jpg');
  }
  @media only screen and (max-width: 768px) {
    border-right: $grey-border !important;
  }
}
