@import 'variables', 'mixins';

.painting-container {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw / 2));
  grid-template-rows: 8.5vh 91.5vh;
  grid-template-areas:
    'nav nav'
    'recent old';
  justify-content: center;
}
.old-painting {
  grid-area: old;
  &:hover {
    background-image: url('http://placekitten.com/g/600/600');
  }
}

.recent-painting {
  grid-area: recent;
  &:hover {
    background-image: url('http://placekitten.com/g/600/600');
  }
}
