@import 'variables', 'mixins';

div#preload {
  display: none;
}

// !!!!!!!!! PHOTO CONTENT !!!!!!!!!! //
.photo-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 8.5vh repeat(3, 45.75vh);
  grid-template-areas:
    'nav nav nav'
    'moving mexico portraits'
    'steve catskills sidewalk'
    'enigma celestine arch';
  justify-content: center;
}

.mexico {
  grid-area: mexico;
  &:hover {
    background-image: url('/assets/photo/mexico/mexico-hover.jpg');
  }
}

.steve {
  grid-area: steve;
  &:hover {
    background-image: url('/assets/photo/steve/steve-hover.jpg');
  }
}

.moving-day {
  grid-area: moving;
  &:hover {
    background-image: url('/assets/photo/moving-day/moving-day-hover.jpg');
  }
}

.sidewalk {
  grid-area: sidewalk;
  border-right: none !important;
}

.catskills {
  grid-area: catskills;
  &:hover {
    background-image: url('/assets/photo/catskills/catskills-hover.jpg');
  }
}

.portraits {
  grid-area: portraits;
  &:hover {
    background-image: url('/assets/photo/portraits/portraits-hover.jpg');
  }
}

.celestine {
  grid-area: celestine;
  // &:hover {
  //   background-image: url('/assets/photo/celestine/celestine-1.jpg');
  // }
}

.engima {
  grid-area: enigma;
  // &:hover {
  //   background-image: url('/assets/photo/enigma/enigma-1.jpg');
  // }
}

.architecture {
  grid-area: arch;
  // &:hover {
  //   background-image: url('/assets/photo/arch/arch-1.jpg');
  // }
}

@media only screen and (max-width: 768px) {
  .photo-container {
    grid-template-columns: 98vw;
    grid-template-rows: 10vh repeat(9, 25vh);
    grid-template-areas:
      'nav'
      'moving'
      'mexico'
      'portraits'
      'steve'
      'catskills'
      'sidewalk'
      'enigma'
      'celestine'
      'arch';
  }
}
