@import 'variables', 'mixins';

// !!!!!!!!! photo project grid !!!!!!!!!! //

.photo-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, calc(100vw / 4));
  grid-template-rows: 8.5vh repeat(3, 45.75vh);
  grid-template-areas:
    'nav nav nav nav'
    'goop nb mexico moving'
    'enigma celestine portraits steve'
    'sr catskills bayside .';
  justify-content: center;
  @media only screen and (max-width: 1068px) {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 8.5vh repeat(6, 30vh);
    grid-template-areas:
      'nav nav'
      'nb moving'
      'goop steve'
      'sr portraits'
      'enigma mexico'
      'celestine catskills'
      'bayside .';
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 98vw;
    grid-template-rows: 10vh repeat(11, 30vh);
    grid-template-areas:
      'nav'
      'nb'
      'moving'
      'goop'
      'enigma'
      'portraits'
      'sr'
      'celestine'
      'mexico'
      'steve'
      'bayside'
      'catskills';
  }
}

// !!!!!!!!! photo projects !!!!!!!!!! //

.bayside {
  grid-area: bayside;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/bayside/bayside-hover.jpg');
    }
  }
}

.catskills {
  grid-area: catskills;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/catskills/catskills-hover.jpg');
    }
  }
  @media only screen and (max-width: 1068px) {
    border-bottom: $grey-border;
    margin-bottom: -2px;
  }
}

.celestine {
  grid-area: celestine;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/celestine/celestine-hover.jpg');
    }
  }
}

.enigma {
  grid-area: enigma;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/enigma/enigma-hover.jpg');
    }
  }
}

.mexico {
  grid-area: mexico;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/mexico/mexico-hover.jpg');
    }
  }
}

.moving-day {
  grid-area: moving;
  @media only screen and (min-width: 1068px) {
    &:hover {
      background-image: url('/assets/photo/moving-day/moving-day-hover.jpg');
    }
    border-right: none !important;
  }
}

.nb {
  grid-area: nb;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/nb/nb-hover.jpg');
    }
  }
}

.goop {
  grid-area: goop;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/goop/goop-hover.jpg');
    }
  }
}

.portraits {
  grid-area: portraits;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/portraits/portraits-hover.jpg');
    }
    border-bottom: $grey-border;
    margin-bottom: -2px;
  }
}

.sr {
  grid-area: sr;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/sr/sr-hover.jpg');
    }
  }
}

.steve {
  grid-area: steve;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/steve/steve-hover.jpg');
    }
    border-right: none !important;
    border-bottom: $grey-border;
    margin-bottom: -2px;
  }
}
