@import 'variables', 'mixins';

// !!!!!!!!! PHOTO CONTENT !!!!!!!!!! //
.photo-container {
  display: grid;
  grid-template-columns: repeat(4, calc(100vw / 4));
  grid-template-rows: 8.5vh repeat(2, 45.75vh);
  grid-template-areas:
    'nav nav nav nav'
    'moving mexico steve portraits'
    'sidewalk catskills celestine .';
  justify-content: center;
}

.mexico {
  grid-area: mexico;
  &:hover {
    background-image: url('/assets/photo/mexico/mexico-hover.jpg');
  }
}

.steve {
  grid-area: steve;
  &:hover {
    background-image: url('/assets/photo/steve/steve-hover.jpg');
  }
}

.moving-day {
  grid-area: moving;
  &:hover {
    background-image: url('/assets/photo/moving-day/moving-day-hover.jpg');
  }
}

.sidewalk {
  grid-area: sidewalk;
  &:hover {
    background-image: url('/assets/tk.jpg');
  }
}

.catskills {
  grid-area: catskills;
  &:hover {
    background-image: url('/assets/photo/catskills/catskills-hover.jpg');
  }
}

.portraits {
  grid-area: portraits;
  &:hover {
    background-image: url('/assets/photo/portraits/portraits-hover.jpg');
  }
  border-right: none !important;
  border-bottom: $grey-border;
  margin-bottom: -2px;
}

.celestine {
  grid-area: celestine;
  border-bottom: $grey-border;
  margin-bottom: -2px;
  &:hover {
    background-image: url('/assets/photo/celestine/celestine-hover.jpg');
  }
}

// .engima {
//   grid-area: enigma;
//   &:hover {
//     background-image: url('/assets/tk.jpg');
//   }
// }

// .architecture {
//   grid-area: arch;
//   border-right: none !important;
//   &:hover {
//     background-image: url('/assets/photo/arch/arch-hover.jpg');
//   }
// }

@media only screen and (max-width: 768px) {
  .photo-container {
    grid-template-columns: 98vw;
    grid-template-rows: 10vh repeat(9, 40vh);
    grid-template-areas:
      'nav'
      'moving'
      'portraits'
      'catskills'
      'steve'
      'mexico'
      'sidewalk'
      'enigma'
      'celestine'
      'arch';
  }
}
