@import 'variables', 'mixins';

// !!!!!!!!! PHOTO CONTENT !!!!!!!!!! //
.photo-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 8.5vh 45.75vh 45.75vh;
  grid-template-areas:
    'nav nav nav'
    'moving mexico portraits'
    'steve catskills sidewalk';
  justify-content: center;
}
.mexico {
  grid-area: mexico;
  &:hover {
    background-image: url('/assets/photo/mexico/mexico-2.jpg');
  }
}

.steve {
  grid-area: steve;
  &:hover {
    background-image: url('/assets/photo/steve/steve-1.jpg');
  }
}

.moving-day {
  grid-area: moving;
  &:hover {
    background-image: url('/assets/photo/moving-day/moving-day-12.jpg');
  }
}

.sidewalk {
  grid-area: sidewalk;
  border-right: none !important;
}

.catskills {
  grid-area: catskills;
  &:hover {
    background-image: url('/assets/photo/catskills/catskills-8.jpg');
  }
}

.portraits {
  grid-area: portraits;
  &:hover {
    background-image: url('/assets/photo/portraits/portraits-6.jpg');
  }
}
