@import 'variables', 'mixins';

// !!!!!!!!! Photo Project Grid !!!!!!!!!! //

.photo-container {
  display: grid;
  grid-template-columns: repeat(4, calc(100vw / 4));
  grid-template-rows: 8.5vh repeat(2, 45.75vh);
  grid-template-areas:
    'nav nav nav nav'
    'moving mexico steve portraits'
    'sidewalk catskills celestine .';
  justify-content: center;
  @media only screen and (max-width: 1068px) {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh repeat(4, 35vh);
    grid-template-areas:
      'nav nav'
      'moving portraits'
      'catskills steve'
      'mexico sidewalk'
      'celestine arch';
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 98vw;
    grid-template-rows: 10vh repeat(7, 30vh);
    grid-template-areas:
      'nav'
      'moving'
      'portraits'
      'catskills'
      'steve'
      'mexico'
      'sidewalk'
      'celestine';
  }
}

// !!!!!!!!! Photo Projects !!!!!!!!!! //

.mexico {
  grid-area: mexico;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/mexico/mexico-hover.jpg');
    }
  }
}

.steve {
  grid-area: steve;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/steve/steve-hover.jpg');
    }
  }
}

.moving-day {
  grid-area: moving;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/moving-day/moving-day-hover.jpg');
    }
  }
}

.sidewalk {
  grid-area: sidewalk;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/tk.jpg');
    }
  }
}

.catskills {
  grid-area: catskills;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/catskills/catskills-hover.jpg');
    }
  }
}

.portraits {
  grid-area: portraits;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/portraits/portraits-hover.jpg');
    }
    border-right: none !important;
    border-bottom: $grey-border;
    margin-bottom: -2px;
  }
}

.celestine {
  grid-area: celestine;
  border-bottom: $grey-border;
  margin-bottom: -2px;
  @media only screen and (min-width: 768px) {
    &:hover {
      background-image: url('/assets/photo/celestine/celestine-hover.jpg');
    }
  }
}

// .engima {
//   grid-area: enigma;
//   &:hover {
//     background-image: url('/assets/tk.jpg');
//   }
// }

// .architecture {
//   grid-area: arch;
//   border-right: none !important;
//   &:hover {
//     background-image: url('/assets/photo/arch/arch-hover.jpg');
//   }
// }
