@import 'variables', 'mixins';

// !!!!!!!!! BUTTONS !!!!!!!!!! //

.project-button {
  position: absolute;
  width: 40px;
  top: 1.8em;
  right: 2em;
  &:hover {
    cursor: pointer;
    .b {
      @include opacity();
    }
  }
  @media screen and (max-width: 768px) {
    top: 1.5em;
    right: 1.5em;
  }
}

.info-button {
  right: 5em;
  @media screen and (max-width: 768px) {
    right: 4em;
  }
  @media screen and (max-width: 768px) {
    right: 4.5em;
  }
}

// !!!!!!!!! SLIDE COUNTER !!!!!!!!!! //

.counter-container {
  font-size: 1.2rem;
  display: flex;
  /* justify-content: center; */
  margin: 0.8em 0 0em 0.8em;
  @media screen and (max-width: 768px) {
    margin: 0 0 3em 0;
  }
}

// !!!!!!!!! IMAGE VIEWER !!!!!!!!!! //

.project-page-container {
  height: calc(100vh - 40px);
  // border: $grey-border;
  margin: 20px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 16px;
    margin: 8px;
    height: calc(100vh - 16px);
  }
}

// !!!!!!!!! PROJECT TEXT MODAL!!!!!!!!!! //
.text-page-container {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.text-page-container.show {
  height: 100vh;
  width: 100vw;
  background-color: $grey;
  opacity: 1;
  z-index: 1000;
}

.project-info {
  height: 100vh;
  // width: 100vw;
  padding: 2em 50% 0 2em;
  display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      background-color: white;
      color: $grey;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 1.5em 40% 0 1.5em;
  }
}

.project-title {
  font-size: 0.8rem;
  width: 55%;
  margin-bottom: 1em;
  margin-right: 4em;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.project-cred,
.project-description {
  margin-bottom: 1em;
}
