@import 'variables', 'mixins';

// !!!!!!!!! project page !!!!!!!!!! //

.project-page-container {
  margin: 20px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin: 40px 15px 0 15px;
  }
}

// !!!!!!!!! buttons !!!!!!!!!! //

.project-button {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  &:hover {
    .a {
      // @include opacity();
      fill: #fff;
      border: $grey-border;
    }
    .b {
      fill: $grey;
    }
  }
  @media screen and (max-width: 768px) {
    position: fixed;
    top: 15px;
    right: 15px;
  }
}

.info-button {
  right: 68px;
  cursor: help;
  @media screen and (max-width: 768px) {
    right: 60px;
  }
}

.white-button {
  .a {
    fill: #fff;
  }
  .b {
    fill: $grey;
  }
  &:hover {
    .a {
      fill: $grey;
    }
    .b {
      fill: #fff;
    }
    svg {
      outline: 1px solid #fff !important;
    }
  }
}

// !!!!!!!!! slide counter !!!!!!!!!! //

.counter-container {
  font-family: 'font-light';
  font-size: 1.8rem;
  display: flex;
  margin: 10px 0 0em 10px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

// !!!!!!!!! project info modal !!!!!!!!!! //

.text-page-container {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
}

.text-page-container.show {
  height: 100%;
  width: 100vw;
  background-color: $grey;
  opacity: 1;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project-info {
  height: 100vh;
  padding: 20px 50% 0 20px;
  display: flex;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      background-color: white;
      color: $grey;
    }
  }
  @media screen and (max-width: 1068px) {
    padding: 20px 28% 0 20px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 15px 36% 0 15px;
    a {
      border-bottom: 1px solid #fff;
    }
  }
}

.project-title {
  font-family: 'font-mono';
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  width: 55%;
  margin-right: 4em;
  @media screen and (max-width: 1068px) {
    font-size: 1rem;
    line-height: 1.3em;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.5em;
  }
}

.project-description,
.project-description > a {
  font-size: 16.5px;
  // font-family: 'font-light';
  margin-bottom: 1em;
}

.project-description,
.project-description a,
.project-cred {
  @media screen and (max-width: 1068px) {
    font-size: 1.4rem;
    line-height: 1.3em;
  }
}

.image-border {
  border: 1px solid $grey;
}
