@import 'variables', 'mixins';

// !!!!!!!!! Project Page !!!!!!!!!! //

.project-page-container {
  margin: 20px;
}

// !!!!!!!!! Buttons !!!!!!!!!! //

.project-button {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 20px;
  &:hover {
    cursor: pointer;
    .b {
      @include opacity();
    }
  }
  @media screen and (max-width: 768px) {
    // top: 15px;
    // right: 15px;
  }
}

.info-button {
  right: 68px;
  @media screen and (max-width: 768px) {
    right: 65px;
  }
}

// !!!!!!!!! Slide Counter !!!!!!!!!! //

.counter-container {
  font-size: 1.2rem;
  display: flex;
  margin: 25px 0 0em 10px;
  @media screen and (max-width: 768px) {
    margin: 0 0 10vh 0;
  }
}

// !!!!!!!!! Project Info Modal !!!!!!!!!! //

.text-page-container {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.text-page-container.show {
  height: 100vh;
  width: 100vw;
  background-color: $grey;
  opacity: 1;
  z-index: 1000;
}

.project-info {
  height: 100vh;
  // width: 100vw;
  padding: 2em 50% 0 2em;
  display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      background-color: white;
      color: $grey;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 1.5em 36% 0 1.5em;
  }
}

.project-title {
  font-size: 0.8rem;
  line-height: 1.4em;
  width: 55%;
  margin-right: 4em;
  @media screen and (max-width: 768px) {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.5em;
  }
}

.project-cred,
.project-description {
  margin-bottom: 1em;
}

.image-border img {
  border: 1px solid #000;
}
