@import 'variables', 'mixins';

// !!!!!!!!! BUTTONS !!!!!!!!!! //

.close-button {
  position: absolute;
  width: 40px;
  top: 1.8em;
  right: 2em;
  &:hover {
    // .a {
    //   opacity: 0.2;
    // }

    .b {
      @include opacity();
    }
  }
  @media screen and (max-width: 768px) {
    top: 1em;
    right: 1em;
  }
}

.info-button {
  position: absolute;
  width: 40px;
  top: 1.8em;
  right: 5em;
  &:hover {
    // .a {
    //   opacity: 0.2;
    // }

    .b {
      @include opacity();
    }
  }
  @media screen and (max-width: 768px) {
    top: 1em;
    right: 3.5em;
  }
}

// !!!!!!!!! SLIDE COUNTER !!!!!!!!!! //

.counter-container {
  font-size: 1.2rem;
  display: flex;
  /* justify-content: center; */
  margin: 0.8em 0 0em 0.8em;
  @media screen and (max-width: 768px) {
    margin: 0 0 3em 0;
  }
}

// !!!!!!!!! IMAGE VIEWER !!!!!!!!!! //

.project-page-container {
  height: calc(100vh - 40px);
  // border: $grey-border;
  margin: 20px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    padding: 16px;
    margin: 8px;
    height: calc(100vh - 16px);
  }
}

// !!!!!!!!! PROJECT TEXT MODAL!!!!!!!!!! //
.text-page-container {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.text-page-container.show {
  height: 100vh;
  width: 100vw;
  background-color: $grey;
  opacity: 1;
  z-index: 1000;
}

.project-info {
  height: 100vh;
  padding: 0px 50% 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  a {
    color: #fff;
  }
  @media screen and (max-width: 768px) {
    padding: 0px 20% 2em 2em;
  }
}

.project-title {
  margin-bottom: 1em;
}
