@import 'variables', 'mixins';

// !!!!!!!!! BUTTONS !!!!!!!!!! //
.close-button {
  position: absolute;
  width: 60px;
  top: 20px;
  left: 20px;
}

.info-button {
  position: absolute;
  width: 60px;
  top: 20px;
  right: 20px;
}

// !!!!!!!!! IMAGE VIEWER !!!!!!!!!! //

.project-page-container {
  height: calc(100vh - 40px);
  border: $grey-border;
  margin: 20px;
  // @include flexCenter();
}

// !!!!!!!!! PROJECT TEXT MODAL!!!!!!!!!! //
.text-page-container {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: $grey;
  opacity: 0;
}

.text-page-container.show {
  opacity: 1;
  z-index: 1000;
}

.project-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
