@import 'variables', 'mixins';

// !!!!!!!!! BUTTONS !!!!!!!!!! //
.close-button {
  position: absolute;
  width: 50px;
  top: 20px;
  right: 20px;
}

.info-button {
  position: absolute;
  width: 50px;
  top: 20px;
  left: 20px;
}

// !!!!!!!!! IMAGE VIEWER !!!!!!!!!! //

.project-page-container {
  height: calc(100vh - 40px);
  border: $grey-border;
  margin: 20px;
  overflow: hidden;
}

// !!!!!!!!! PROJECT TEXT MODAL!!!!!!!!!! //
.text-page-container {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.text-page-container.show {
  height: 100vh;
  width: 100vw;
  background-color: $grey;
  opacity: 1;
  z-index: 1000;
}

.project-info {
  height: 100vh;
  padding: 20px 50% 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  a {
    color: #fff;
  }
}

.project-title {
  margin-bottom: 1em;
}
