@import 'mixins', 'hacks', 'options';

.image-carousel {
  margin-top: 15vh;
}

.image-card img {
  height: 60vh;
  width: auto;
  margin: 0 auto;
}

.slick-slider {
  .slick-arrow {
    display: none !important;
  }
  &:hover {
    .slick-arrow {
      display: block !important;
    }
  }
}

.slick-arrow {
  width: 120px;
  height: 120px;
}

.slick-prev {
  left: 50px;
  z-index: 1000;
}

.slick-next {
  right: 70px;
}
