@import 'variables', 'mixins';

.office-container {
  display: grid;
  grid-template-columns: repeat(1, 100vw);
  grid-template-rows: 8.5vh 70vh 20vh;
  grid-template-areas:
    'nav'
    'carousel'
    'info';
}

.project-info {
  grid-area: info;
  margin-top: 50px;
  @include flexCenter();
  a {
    &:hover {
      color: #fff;
      background-color: $grey;
      padding: 10px 15px;
    }
  }
}

.carousel-container {
  grid-area: carousel;
}

// .arrow-left::before {
// }

// .arrow-right::before {
// }

.image-carousel {
  width: 60vw;
  margin: 0 auto;
}

// /* ALL IMAGE CARDS style the image cards however you want */
// .image-card {
//   max-height: 100%;
// }

.arrow {
  width: 60px;
  height: 100px;
  &:hover {
    background-color: $grey;
  }
}

.slick-next {
  right: -130px;
}

.slick-prev {
  left: -130px;
}
