@import 'variables', 'mixins', 'nav', 'hamburgers', 'clock', 'design', 'photo',
  'painting', 'about', 'projects', 'flickity-docs';

/*---- BASE ----*/
@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'font';
  src: url(/fonts/Favorit_Regular.otf);
}

html {
  min-height: 100vh;
}

body,
a {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1.4em;
  color: $grey;
  text-rendering: optimizeLegibility;

  // @media only screen and (max-width: 768px) {
  //   font-size: 1.2rem;
  // }
}

a {
  text-decoration: none;
}

.logo:hover {
  @include opacity();
}

/*---- GRID ----*/

.nav-container {
  grid-area: nav;
  @include flexCenter();
  justify-content: space-between;
  margin: 0px 30px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  // grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  //  grid-template-columns: repeat(auto-fill, minmax(230px, 50vw));
  grid-template-rows: 8.5vh repeat(2, 45.75vh);
  grid-template-areas:
    'nav nav'
    'design photo'
    'painting clock';
}

/*---- SECTIONS ----*/
.box-title {
  text-align: center;
  // @media only screen and (max-width: 768px) {
  //   visibility: hidden;
  // }
}

// .box-title.index {
//   visibility: visible;
// }

.box {
  @include flexCenter();
  border-top: $grey-border;
  border-right: $grey-border;
  p {
    padding: 1em;
  }
  &:hover {
    p {
      border: $grey-border;
      padding: 0.9em 1.2em;
      background: #fff;
    }
    @include backgroundImage();
  }

  // @media only screen and (max-width: 768px) {
  //   background-size: cover;
  //   background-position: center;
  // }
}

.design {
  grid-area: design;
}

.photo {
  grid-area: photo;
  border-right: none;
}

.painting {
  grid-area: painting;
  border-right: $grey-border;
}

.clock-container {
  grid-area: clock;
}

@media only screen and (max-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 30vh 30vh 30vh;
    grid-template-areas:
      'nav'
      'design'
      'photo'
      'painting';
  }
  .clock-container {
    display: none;
  }
  .box {
    border-top: $grey-border;
    // border-right: none;
  }
}
