@import 'variables', 'mixins', 'nav', 'clock', 'about';

// !!!!!!!!! Responsivity for Smaller Devices !!!!!!!!!! //
@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: 'font';
  src: url(/fonts/Scto.otf);
}

html {
  min-height: 100vh;
}

body,
a {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1.4em;
  color: #656d72;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.box-title {
  text-align: center;
}

// !!!!!!!!! Box Styling !!!!!!!!!! //

.box {
  @include flexCenter();
  border-top: $grey-border;
  border-right: $grey-border;
  p {
    padding: 1em;
  }
  &:hover {
    p {
      border: $grey-border;
      padding: 0.9em 1.2em;
      background: #fff;
    }
    @include backgroundImage();
  }
  @media only screen and (max-width: 768px) {
    border-top: $grey-border;
    border-right: none;
  }
}
