@import 'variables', 'mixins', 'nav', 'hamburgers', 'clock', 'design', 'photo',
  'painting', 'about', 'projects', 'slider';

/*---- BASE ----*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  //   font-family: 'favorit_regular';
  // src: url(/fonts/Favorit_Regular.otf);

  font-family: 'font';
  src: url(/fonts/Favorit_Regular.otf);
}

html {
  min-height: 100vh;
}

body,
a {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: 1em;
  color: $grey;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.logo:hover {
  color: #a9abb3;
}

/*---- GRID ----*/

.nav-container {
  grid-area: nav;
  @include flexCenter();
  justify-content: space-between;
  margin: 0px 30px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 8.5vh 45.75vh 45.75vh;
  grid-template-areas:
    'nav nav'
    'design photo'
    'painting clock';
}

/*---- SECTIONS ----*/
.box-title {
  text-align: center;
}

.box {
  @include flexCenter();
  border-top: $grey-border;
  border-right: $grey-border;
  &:hover {
    // font-size: 10vw;
    p {
      border: $grey-border;
      // text-shadow: 3px 3px 0px #000;
      padding: 0.9em 1.2em;
      background: #fff;
    }
    @include backgroundImage();
  }
}

.design {
  grid-area: design;
  // border-right: $grey-border;
  // &:hover {
  //   background-image: url('/assets/design/Shortstop/Shortstop_Tote.jpg');
  // }
}

.photo {
  grid-area: photo;
  // &:hover {
  //   background-image: url('/assets/photo/sidewalk/sidewalk-1.jpg');
  // }
  border-right: none;
}

.painting {
  grid-area: painting;
  border-right: $grey-border;
  // &:hover {
  //   background-image: url('/assets/painting/older/sphinx.jpg');
  // }
}

.clock-container {
  grid-area: clock;
}

// !!!!!!!!! NAV MENU !!!!!!!!!! //
.nav-menu-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 8.5vh 91.5vh;
  grid-template-areas:
    '. . .'
    'menu-design menu-photo menu-painting';
}

.menu-box {
  @include flexCenter();
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  p {
    color: #fff;
  }
  &:hover {
    p {
      border: 2px solid #fff;
      padding: 0.9em 1.2em;
    }
  }
}

.menu-design {
  grid-area: menu-design;
}

.menu-photo {
  grid-area: menu-photo;
}

.menu-painting {
  grid-area: menu-painting;
  border-right: none;
}

.menu-title {
}

button {
  outline: 0 none;
}
