.about-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav'
    'who what'
    'who clock';
  justify-content: center;
}

.about-photo {
  grid-area: who;
  &:hover {
    background-image: url('../assets/me.gif');
  }
}

.about-text {
  grid-area: what;
  border-bottom: $grey-border;
  padding: 80px;
  flex-direction: column;
}

// CLOCK
.clock-container {
  border-top: none;
  grid-area: clock;
}
