@mixin backgroundImage {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
