@use 'design';
@use 'photo';
@use 'painting';
@use 'about';

$grey: rgb(107, 112, 121);
$greyBorder: 1px solid rgb(107, 112, 121);

@mixin backgroundImage {
  background-color: $grey;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

@font-face {
  font-family: Scto;
  src: url(/fonts/SctoGroteskARegular.otf);
}

html {
  min-height: 100vh;
}

body,
a {
  font-family: Scto, sans-serif;
  color: $grey;
}

a {
  text-decoration: none;
}

.nav-container {
  grid-column: 1 / -1;
  @include flexCenter();
  justify-content: space-between;
  margin: 0px 20px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav'
    'design photo'
    'painting .';
}

// alt 3 column grid layout
/* .home-container {
  display: grid;
  grid-template-columns: repeat(3, calc(100vw / 3));
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    'nav nav nav'
    'design photo painting';
  justify-content: center;
} */

.bonsai {
  width: 19%;
  margin-left: 80%;
  &:hover {
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
  }

  @-moz-keyframes spinPulse {
    0% {
      -moz-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
    }
    50% {
      -moz-transform: rotate(145deg);
      opacity: 1;
    }
    100% {
      -moz-transform: rotate(-320deg);
      opacity: 0;
    }
  }
  @-moz-keyframes spinoffPulse {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spinPulse {
    0% {
      -webkit-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #bdd73c;
    }
    50% {
      -webkit-transform: rotate(145deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-320deg);
      opacity: 0;
    }
  }
  @-webkit-keyframes spinoffPulse {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotatecircle {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes rotatecircle {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }
}

.box {
  @include flexCenter();
  border-top: $greyBorder;
  border-right: $greyBorder;
  &:hover {
    // font-size: 10vw;
    p {
      padding: 8px 12px;
      border: 2px solid #fff;
      background: #fff;
    }
    @include backgroundImage();
  }
}

.design {
  grid-area: design;
  border-right: $greyBorder;
  &:hover {
    background-image: url('/assets/design/Shortstop/Shortstop_Tote.jpg');
  }
}

.photo {
  grid-area: photo;
  &:hover {
    background-image: url('/assets/design/Shortstop/Shortstop_Tote.jpg');
  }
  border-right: none;
}

.painting {
  grid-area: painting;
  border-right: $greyBorder;
  &:hover {
    background-image: url('/assets/painting/older/rubber-preview.jpg');
  }
}

// DESIGN PAGE

.design-container {
  display: grid;
  grid-template-columns: repeat(4, calc(100vw / 4));
  grid-template-rows: 10vh 45vh 45vh;
  grid-template-areas:
    'nav nav nav nav'
    'shortstop sloth verde siff'
    'island nb motif .';
  justify-content: center;
}

.shortstop {
  grid-area: shortstop;
}

.motif {
  grid-area: motif;
}

.sloth {
  grid-area: sloth;
}

.island {
  grid-area: island;
}

.verde {
  grid-area: verde;
}

.new-balance {
  grid-area: nb;
}

.siff {
  grid-area: siff;
  border-right: none;
}
